.ab-intro {
  .ab-intro-title {
    margin-bottom: 6rem;
    h1 {
      font-size: 13rem;
      color: #262626;
      font-weight: 300;
      line-height: 0.9;

      i {
        font-weight: 100;
      }
    }
  }

  .svg-line {
    position: relative;
    width: 100%;
    height: 1px;

    .svg-box {
      position: absolute;
      width: 100%;
      border: 1px solid red;
      height: 100px;
      z-index: 1;
      top: -50px;
    }
    svg {
      position: absolute;
      top: -50px;
      width: 100%;
      height: 100px;

      path {
        stroke: #000000;
        stroke-width: 1px;
        fill: none;
      }
    }
  }

  .ab-intro-content {
    padding-top: 6rem;

    h2 {
      color: #262626;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 400;
    }

    p {
      width: 86%;
      font-size: 2.56rem;
      color: #000;
      margin-bottom: 3rem;
      line-height: 1.3;
    }
  }
}

//Mobile Responsiveness

@media (max-width: 767px) {
  .col-25,
  .col-75 {
    width: 100%;
  }

  h2 {
    font-size: 6rem !important;
    padding: 5rem 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  h2 {
    font-size: 3rem !important;
  }
}
