.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
  &-container {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
      width: 200px;
      position: fixed;
      left: 5%;
      top: 25px;
    }

    .hamburger {
      position: fixed;
      left: 95%;
      right: 5rem;
      top: 15px;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Adjust as needed */
      width: 25px;
      height: 20px;
      padding: 17px; /* Adjust padding as needed */
      border-radius: 50%;
      align-items: center;
      position: relative;
      z-index: 10000;
      .nav-line {
        display: block;
        background-color: #000;
        width: 25px;
        height: 3px;
        margin: 0px 0 3px 0; /* Adjust spacing between spans */
        box-sizing: border-box;
        transform-origin: center center;
      }
    }
  }

  .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
  }

  .menu-wrapper {
    width: 42%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    right: -100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-container {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    width: 100%;

    &-left {
      width: 35%;

      .menu-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        a {
          text-decoration: none;
          color: #121212;
          font-size: 1.8rem;
        }

        .menu-item {
          padding: 0 0 20px 0;
        }
      }
    }

    &-right {
      width: 65%;

      .menu-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        a {
          text-decoration: none;
          color: #121212;
          font-size: 5.6rem;
          font-weight: 300;
        }

        .menu-item {
          padding: 0 0 15px 0;
        }
      }
    }

    &-head {
      p {
        font-size: 1.6rem;
        font-weight: 400;
        color: #a5a5a5;
        text-transform: uppercase;
      }
    }
  }

  .menu-footer {
    .menu-footer-contact {
      padding-top: 15px;
    }
    a {
      text-decoration: underline;
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    &-container {
      width: 85%;
      .hamburger {
        top: 0;
      }
    }
    .logo {
      width: 150px;
      z-index: 1;
    }
    .menu-wrapper {
      width: 100%;
      z-index: 0;
    }
    .menu-container {
      justify-content: space-around;
    }
    .menu {
      &-head {
        p {
          font-size: 6rem !important;
        }
      }

      &-left {
        display: none;
      }

      // &-left {
      //   width: 35%;
      //   .menu-items {
      //     margin-top: 15px;
      //     a {
      //       font-size: 8rem;
      //     }
      //   }
      // }

      &-right {
        .menu-items {
          margin-top: 15px;
          a {
            font-size: 15rem;
          }
        }
      }
    }

    .menu-footer {
      .menu-footer-contact {
        a {
          font-size: 7.5rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    position: fixed;
    &-container {
      width: 95%;
    }
    .menu-wrapper {
      width: 70%;
    }
    .menu-container {
      justify-content: space-around;
    }

    .menu {
      // &-head {
      //   p {
      //     // font-size: 6rem !important;
      //   }
      // }

      &-left {
        a {
          font-size: 5rem !important;
        }
      }
      &-right {
        a {
          font-size: 8.5rem !important;
        }
      }
    }
    .menu-footer {
      margin-bottom: -50rem;
      .menu-footer-contact {
        a {
          font-size: 4rem;
        }
      }
    }
  }
}
