.home-products {
  padding: 15rem 0;
  position: relative;
  .hpr-title-row {
    h1 {
      font-size: 13rem;
      font-weight: 100;
      line-height: 0.9;
      color: #262626;
      span {
        font-weight: 300;
      }
    }
  }

  .hpr-cta {
    padding-top: 10rem;
    width: 50%;
    margin-left: auto;

    h4 {
      font-size: 3.6rem;
      line-height: 1.2;
      color: #262626;
      font-weight: 400;
    }
  }
}

@media (max-width: 767px) {
  .home-products {
    .hpr-title-row {
      h1 {
        font-size: 25rem !important;
        padding-bottom: 10rem;
      }
    }
    .hpr-cta {
      width: 100%;
      h4 {
        text-align: center;
        padding: 0 5rem;
        font-size: 7.5rem !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .home-products {
    .hpr-cta {
      width: 100%;
      h4 {
        text-align: center;
        padding: 0 10rem;
      }
      .custom-button {
        width: 60% !important;
        margin-left: 18rem !important;
      }
    }
  }
}
