.home-banner {
  width: 100%;
  position: relative;

  &-wrapper {
    position: relative;
    width: 100%;
    height: 77rem;
    overflow: hidden;
    perspective: 300px;
    img {
      width: 120%;
      height: 120%;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 767px) {
  .home-banner {
    &-wrapper {
      height: 150rem;
      img {
        height: 120%;
      }
    }
  }
}
