.project-card-wrapper {
  .project-card {
    .project-info {
      padding-bottom: 15rem;
    }
    &:last-child {
      padding-bottom: 0px;
    }
    .project-card-image {
      width: 100%;
      height: 65rem;
      overflow: hidden;
      border-radius: 25px;

      &:hover {
        img {
          scale: 1.05;
          transform: rotate(-1deg);
          transition: all 0.3s ease-out;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        transition: all 0.3s ease-out;
      }
    }

    &-content {
      padding: 35px 0 0 25px;
      max-width: 60%;
      h2 {
        font-size: 3.56rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 15px;
      }

      p {
        font-size: 2.56rem;
        color: #121212;
        line-height: 1.4;
      }

      .project-tags {
        display: flex;
        .tags-container {
          padding: 25px 0;
          .project-tag {
            border: 1px solid #000;
            border-radius: 30px;
            padding: 5px 20px;
            margin-right: 10px;
            font-size: 2rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .project-card-content p {
    font-size: 5rem;
  }
  .tags-container {
    width: 125%;
    .project-tag {
      font-size: 3rem !important;
    }
  }
}

@media (max-width: 767px) {
  .project-card-wrapper {
    .project-card {
      .project-info {
        padding-bottom: 25rem;
      }
      .project-card-image {
        height: 85rem;
        border-radius: 4rem;
        img {
          border-radius: 4rem;
        }
      }

      &-content {
        padding: 15px 0 0 0;
        max-width: 75%;
        p {
          font-size: 5rem !important;
        }
        .project-tags {
          padding-top: 10px;
          .tags-container {
            width: 175%;
            .project-tag {
              padding: 5px 15px;
              border-radius: 18px;
              font-size: 3.5rem !important;
              width: max-content;
            }
          }
        }
      }
    }
  }
}
