.project-hero {
  &-title {
    padding-top: 10rem;
    h1 {
      font-size: 9rem;
      font-weight: 300;
      color: #121212;
    }
  }
}

@media (max-width: 767px) {
  .project-hero {
    &-title {
      padding-top: 20rem;
    }
  }
}
