@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

html {
  font-size: 0.625vw;
}

img {
  width: 100%;
}

.section {
  padding-top: 15rem;
  padding-bottom: 15rem;
  overflow: hidden;
}

.container-wide {
  box-sizing: border-box;
  width: 100%;
  padding: 0 4vw;
}

.container-narrow {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10.625vw;
  margin: 0 auto;
  overflow: visible;
}

// Use imported fonts
body {
  font-family: "Archivo", sans-serif;
  overflow-x: hidden;
}

// Rows and Columns

.row {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-50 {
  width: 45%;
  position: relative;
}
.col-25 {
  width: 25%;
  position: relative;
}

.col-75 {
  width: 75%;
  position: relative;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
  .container-narrow {
    padding: 0 5vw;
  }

  h1 {
    font-size: 22rem !important;
  }
  h2 {
    font-size: 8rem !important;
  }
  h3 {
    font-size: 6rem !important;
  }
  h4 {
    font-size: 4rem !important;
  }
  h5 {
    font-size: 3.5rem !important;
  }
  h6 {
    font-size: 3rem !important;
  }
  li {
    font-size: 3rem !important;
  }
  p {
    font-size: 4.25rem !important;
  }
  .custom-button {
    font-size: 6.5rem !important;
    width: 85% !important;
    height: 50rem !important;
    line-height: 1 !important;
    margin: 15rem 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  html,
  body {
    overflow-x: hidden;
  }
  .container-narrow {
    padding: 0 5vw;
  }

  h1 {
    font-size: 16rem !important;
  }
  h2 {
    font-size: 5rem !important;
  }
  h3 {
    font-size: 4.5rem !important;
  }
  h4 {
    font-size: 4rem !important;
  }
  h5 {
    font-size: 3.5rem !important;
  }
  h6 {
    font-size: 3.25rem !important;
  }
  li {
    font-size: 3.25rem !important;
  }
  p {
    font-size: 4rem !important;
  }
  .custom-button {
    font-size: 6.5rem !important;
    width: 80% !important;
    height: 35rem !important;
    line-height: 0.8 !important;
    margin: 15rem 0 !important;
  }
}
